%p= @restaurant.name
%p= @restaurant.description

%h3
  Reviews

- if @restaurant.reviews.any?
  %ul
    - @restaurant.reviews.each do |review|
      %li
        = review.thoughts
        %strong= review.rating
        - if current_user == review.user
          = link_to "Delete review", restaurant_review_path(review, review.id), method: :delete
- else
  %p No reviews